# ### for System Activity Grapher logging system ###
#
* * * * * $HOME/.sag/bin/tick
*/5 * * * * chmod u+x $HOME/.sag/bin/t0005
55 * * * * chmod u+x $HOME/.sag/bin/t0100
30 0 * * * chmod u+x $HOME/.sag/bin/t2400
