#
# ### for System Activity Grapher logging system ###
#
# $Id: crontab.sample,v 1.2 2006/01/30 10:26:12 kaw Exp $
#
* * * * * $HOME/.sag/bin/tick
*/5 * * * * chmod u+x $HOME/.sag/bin/t0005
55 * * * * chmod u+x $HOME/.sag/bin/t0100
59 * * * * cp $HOME/.sag/var/*.gif $HOME/www/svstat/nonsugar
30 2 * * * chmod u+x $HOME/.sag/bin/t2400
