
# category to process data
#
#targets='0001la 0001ps 0001net 0005mem 0100df'
targets='0001la 0001net 0005mem 0100df'

# days to restore data
#
rotate_max=60

# days to display graph
#
 span_la=7
 span_ps=7
span_net=7
span_mem=7
 span_df=60
