# ### for System Activity Grapher logging system ###
#
# $Id: crontab,v 1.2 2017/01/07 06:10:54 kaw Exp $
#
#
SHELL=/bin/sh
PATH=/bin:/sbin:/usr/bin:/usr/sbin
#
# Important - base directory of SAG
# Reconfigure if needed.
#
SAGHOME=/home/sag
#
#minute	hour	mday	month	wday	command
#
*	*	*	*	*	exec $SAGHOME/bin/tick
*/5	*	*	*	*	chmod u+x $SAGHOME/bin/t0005
50	*	*	*	*	chmod u+x $SAGHOME/bin/t0100
10	4	*	*	*	chmod u+x $SAGHOME/bin/t2400
